// SPDX-License-Identifier: BSD-3-Clause
/*
 * Common Board Device Tree for
 * Microsoft MSM8226 Platforms
 *
 * Copyright (c) 2022, Jack Matthews <jm5112356@gmail.com>
 * Copyright (c) 2022, Ivaylo Ivanov <ivo.ivanov.ivanov1@gmail.com>
 * Copyright (c) 2022, Dominik Kobinski <dominikkobinski314@gmail.com>
 * Copyright (c) 2022, Rayyan Ansari <rayyan@ansari.sh>
 * Copyright (c) 2025, Vicente Cortés <vicenteicc2008@gmail.com>
 */

#include "qcom-pm8226.dtsi"
#include "msm8926-v2.dtsi"

/ {
	aliases {
		mmc0 = &sdhc_1; /* eMMC */
		mmc1 = &sdhc_2; /* MicroSD */
	};
};

&soc {
	synaptics@4b {
		compatible = "synaptics,rmi4";
		reg = <0x4b>;
		interrupt-parent = <&msmgpio>;
		interrupts = <11 0x2008>;
		vdd-supply = <&pm8226_l15>;
		vcc_i2c-supply = <&pm8226_l6>;
		synaptics,reset-gpio = <&msmgpio 10 0x00>;
		synaptics,irq-gpio = <&msmgpio 11 0x2008>;
		synaptics,display-coords = <0 0 719 1279>;
		synaptics,i2c-pull-up;
		synaptics,power-down;
		synaptics,disable-gpios;
		synaptics,do-lockdown;
	};
};
